{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <b>Zaloguj się</b>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
