{% extends "base.html" %}

{% block content %}
Dodaj sklep:<br>

<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
<p>{{form.name.label}}<br>{{form.name}}</p>
<p>{{form.description.label}}:<br>{{form.description}}</p>
<p>{{form.logo.label}}:<br>{{form.logo}}</p>
<p>{{form.main_category.label}}:<br>{{form.main_category}}</p>
<p>{{form.categories.label}}:<br>{{form.categories}}</p>
<p>{{form.level.label}}:<br>{{form.level}}</p>
<p>{{form.lottery.label}}:<br>{{form.lottery}}</p>
<p>
<input type="submit">
</p>
</form>

{% endblock %}
