<h1>Sklepy i kategorie</h1><br>
{% if user.is_authenticated %}
    Witaj {{user.username}} - <a href="/accounts/logout">Wylgouj</a>
{% else %}
    <a href="/accounts/login">Zaloguj</a>
{% endif %}
<br><br>

<a href="/shop/all">Wszystkie sklepy</a> |
<a href="/shop/add">Dodaj sklep</a>

<hr>
{% block content %}{% endblock %}
