{% extends "base.html" %}

{% block content %}
Czy na pewno chcesz usunąć sklep
<b>{{singleshop.name}}</b>?

<form method="post">{% csrf_token %}
<p>
<input type="checkbox" name="confirm">-
<b>Tak!</b><br>
</p>
<input type="submit" value="Usuń" /><br>
<a href="/shop/all">Wróć</a>
</form>

{% endblock %}
