{% extends "base.html" %}

{% block content %}
Nazwa: <b>{{ singleshop.name }}</b><br>

{% if singleshop.logo %}
<img src="{{ singleshop.logo.url }}" style="width: 150px; height: 150px;">
{% else %}
Brak loga
{% endif %}<br>

<b>Opis:</b><br>
<p>{{singleshop.description}}<p>

<b>Kategoria główna:</b> {{ singleshop.main_category }}<br>

<b>Pozostałe kategorie:</b>
{% for cat in singleshop.categories.all %}
{{ cat.name }},
{% endfor %}
<br>

<b>Poziom:</b> {{singleshop.level}}<br>

<b>Bierze udział w loterii:</b>
{% if singleshop.lottery %}
Tak{% else %}Nie
{% endif %}<br>

<b>Utworzono:</b>
{{ singleshop.created_at}}<br>
<b>Zmodyfikowano:</b>
{{singleshop.updated_at}}<br>

{% if user.is_authenticated %}
<p>
<a href="/shop/{{singleshop.id}}/delete" style="color: red;">Usuń sklep</a>
</p>
{% endif %}

{% endblock %}
